* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url('images/Fundo_Menu.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;      /* Centraliza verticalmente */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}


canvas {
  background: url('images/Fundo_Espacial.png') no-repeat center center fixed; background-size: cover;
  border: 2px solid #fff;
}

#panel {
  background-color: rgba(0, 0, 0, 0.75); /* fundo preto translúcido */
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 20px #6a1b9a;
}

#panel h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #a66cff;
}

input, button {
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
}

button {
  background-color: #a66cff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #8e4fd6;
}

#scoreboard {
  margin-top: 20px;
  text-align: left;
}

#pauseOverlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.85);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  z-index: 10;
  min-width: 250px;
}

#pauseOverlay button {
  margin: 10px 0;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #00bcd4;
  color: white;
}

#pauseOverlay button:hover {
  background-color: #0097a7;
}

/* Game Over Overlay */
#gameOverOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width:100vw;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.game-over-content {
  text-align: center;
  color: #fff;
}

.game-over-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.game-over-content button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #6600ff;
  color: #fff;
  cursor: pointer;
  border: none;
}

.game-over-content button:hover {
  background-color: #8f3dff;
}
