* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background:url('images/Fundo_Menu.jpg') no-repeat center center fixed; background-size: cover;;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

canvas {
  background: url('images/Fundo_Espacial.png') no-repeat center center fixed; background-size: cover;
  border: 2px solid #fff;
}

#panel {
  position: absolute;
  background: url('Fundo_Menu.jpg') no-repeat center center;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

#scoreboard {
  margin-top: 20px;
  text-align: left;
}

#pauseOverlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.85);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  z-index: 10;
  min-width: 250px;
}

#pauseOverlay button {
  margin: 10px 0;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #00bcd4;
  color: white;
}

#pauseOverlay button:hover {
  background-color: #0097a7;
}